body {
    font-family: "Monospaced", sans-serif;
    color: #222;
    font-size: 22px;
    font-weight: bold;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    width: 60rem;
    padding: 5px 5px;
}

th {
    width: 300px;
    colspan: 3;
}

tr:nth-child(even) {
    background-color: #cbb6d3;
}
