body {
    font-family: "Monospaced", sans-serif;
    color: #222;
    font-size: 22px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f3;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    width: 60rem;
    padding: 5px 5px;
    font-size: 1.5rem;
}

tr {
    height: 2.5rem;
}

tr:nth-child(even) {
    background-color: #cbb6d3;
}
